{# button #}
{% macro button(link, blocktheme) %}
{% if link.type != 'none'%}
    {% if link.type == 'website'%}
    <a class="btn {{blocktheme.buttonstyle}} {{blocktheme.buttonoutline ? 'line' }} {{blocktheme.buttonsize}}" href="{{link.websitelink}}" target=""{{window}}>
        <span class="icon-{{link.theme_icons}}"></span>
        <span>{{link.buttontext}}</span>
    </a>
    {% elseif link.type == 'email' %}
    <a class="btn {{blocktheme.buttonstyle}} {{blocktheme.buttonoutline ? 'line' }} {{blocktheme.buttonsize}}" href="mailto:{{link.email}}" target=""{{window}}>
        <span class="pi icon-{{link.theme_icons}}"></span>
        <span>{{link.buttontext}}</span>
    </a>
    {% elseif link.type == 'intern' %}
    {% set internlink = link.pagelink %}
    {% if link.segment %}
        {% set internlink = link.pagelink ~ link.segment %}
    {% endif %}
    <a class="btn {{blocktheme.buttonstyle}} {{blocktheme.buttonoutline ? 'line' }} {{blocktheme.buttonsize}}" href="{{internlink}}" target=""{{window}}>
        <span class="pi icon-{{link.theme_icons}}"></span>
        <span>{{link.buttontext ? link.buttontext : blocktheme.buttontext }}</span>
    </a>
    {% endif %}
{% endif %}
{% endmacro %}