{# button #}
{% macro button(link, blocktheme, href) %}

    {% if link.type == 'website'%}
        {% set href= link.websitelink %}
    {% elseif link.type == 'email' %}
        {% set href= 'mailto:' ~ link.email %}
    {% elseif link.type == 'intern' %}
        {% set href = link.pagelink %}
        {% if link.segment %}
            {% set href = link.pagelink ~ link.segment %}
        {% endif %}
    {% endif %}
        {% if href %}
        <a class="btn {{blocktheme.buttonstyle}} {{blocktheme.buttonoutline ? 'line' }} {{blocktheme.buttonsize}}" href="{{href}}" target=""{{blocktheme.window}}>
            {% if link.theme_icons %}
            <span class="pi icon-{{link.theme_icons}}"></span>
            {% endif %}
            <span>{{link.buttontext ? link.buttontext : blocktheme.buttontext }}</span>
        </a>
    {% endif %}
{% endmacro %}

{% macro singlebutton(link, buttontext = 'meer', buttontype = "bg", icon = false, target = '_self') %}
        <a class="btn {{buttontype}}" href="{{link}}" target="{{target}}">
        {% if icon %}
        <span class="pi icon-{{icon}}"></span>
        {% endif %}
        <span>{{buttontext}}</span>
    </a>
{% endmacro %}