{# contentcolumn single #}
{% import '@ponzoblocks/elements/visual.twig' as visual %}
{% import '@ponzoblocks/elements/button.twig' as button %}
{% import '@ponzoblocks/elements/textfields.twig' as textfields %}
<div class="card col c{{blocktheme.columnwidth}} pb-contentcolumn">
    <div class="cc__head">
        {{ visual.thumbnail(card, blocktheme.visual ? blocktheme.visual : block.visualoptions.visualoptions  ) }}
        {{ blocktheme.linkvisual ? button.button(false, blocktheme, card.link ) }}
    </div>
    <div class="cc__text box">
    {{ textfields.all(card, blocktheme) }}
    {% if blocktheme.linkvisual == false %}
       {{ button.button(false, blocktheme, card.link ) }}
    {% endif %}
    </div>
</div>