{# all textfields #}
{% macro all(block, blocktheme) %}
   {# title #}
   <div class="pb__head">
   {% if block.title %}
   <{{blocktheme.title_heading}} class="{{blocktheme.title_style}} {{blocktheme.title_size}}">
      {{block.title}}
   </{{blocktheme.title_heading}}>
   {% endif %}
   {# subtitle #}
   {% if block.subtitle %}
   <{{blocktheme.subtitle_heading}} class="{{blocktheme.subtitle_style}} {{blocktheme.subtitle_size}}">
      {{block.subtitle}}
   </{{blocktheme.subtitle_heading}}>
   {% endif %}
   </div>
   {# text #}
   {% if block.text %}
   <{{blocktheme.text_heading}} class="{{blocktheme.text_style}} {{blocktheme.text_size}} pb__content">
      {{block.text}}
   </{{blocktheme.text_heading}}>
   {% endif %}
{% endmacro %}

{# secondclass textfields #}
{% macro second(block, blocktheme) %}
   {# title #}
   {% if block.title_second %}
   <{{blocktheme.title_heading_second}} class="{{blocktheme.title_style_second}} {{blocktheme.title_size_second}}">
      {{block.title_second}}
   </{{blocktheme.title_heading_second}}>
   {% endif %}
   {# subtitle #}
   {% if block.subtitle_second %}
   <{{blocktheme.subtitle_heading_second}} class="{{blocktheme.subtitle_style_second}} {{blocktheme.subtitle_size_second}}">
      {{block.subtitle_second}}
   </{{blocktheme.subtitle_heading_second}}>
   {% endif %}
   {# text #}
   {% if block.text_second %}
   <{{blocktheme.text_heading_second}} class="{{blocktheme.text_style_second}} {{blocktheme.text_size_second}}">
      {{block.text_second}}
   </{{blocktheme.text_heading_second}}>
   {% endif %}
{% endmacro %}

{# title #}
{% macro title(block, blocktheme) %}
    <{{blocktheme.title_heading}} class="{{blocktheme.title_style}} {{blocktheme.title_size}}">
      {{block.title}}
   </{{blocktheme.title_heading}}>
{% endmacro %}
{# / title #}

{# title #}
{% macro subtitle(block, blocktheme) %}
   <{{blocktheme.subtitle_heading}} class="{{blocktheme.subtitle_style}} {{blocktheme.subtitle_size}}">
      {{block.subtitle}}
   </{{blocktheme.subtitle_heading}}>
{% endmacro %}
{# / title #}

{# title #}
{% macro text(block, blocktheme) %}
   <{{blocktheme.text_heading}} class="{{blocktheme.text_style}} {{blocktheme.text_size}}">
      {{block.text}}
   </{{blocktheme.text_heading}}>
{% endmacro %}
{# / title #}