{# visual #}
{% macro image(visual, options, blocktheme) %}
{# acf cloned visual element #}
<div class="visual {{visual.image.width < visual.image.height ? 'portrait' : 'landscape'}}">
    <div class="img--wrap ratio--{{options.ratio}} mwid--{{options.size}}">
        <picture class="picture">
            {% if visual.imagemobile %}
            <source
            class="img"
            data-srcset="{{visual.imagemobile.sizes.medium}}"
            media="(max-width: 999px)" />
            {% else %}
            <source
            class="img lazyload {{options.fit}} {{options.position}} {{options.contain_desktop ? 'contain--l' : ''}}"
            data-srcset="{{visual.image.sizes.small}}"
            media="(max-width: 599px)" />
            {% endif %}
            <source
            class="img lazyload {{options.fit}} {{options.position}} {{options.contain_desktop ? 'contain--l' : ''}}"
            data-srcset="{{visual.image.sizes.medium}}"
            media="(max-width: 1199px)" />
            <img
            data-src="{{visual.image.sizes.large}}"
            class="img lazyload {{options.fit}} {{options.position}} {{options.contain_desktop ? 'contain--l' : ''}}"
            data-sizes="auto"/>
        </picture>
    </div>
 </div>
{% endmacro %}
{# default wordpress thumbnail #}
{% macro thumbnail(post, options) %}
<div class="visual">
    <div class="img--wrap ratio--{{options.ratio}} mwid--{{options.size}}">
    <img class="img lazyload" src="{{ post.thumbnail.src('thumbnail') }}" data-srcset="{{ post.thumbnail.src('thumbnail') }} 1x,
        {{ post.thumbnail.src('medium') }} 2x,
        {{ post.thumbnail.src('large') }} 4x">
    </div>
</div>
 {% endmacro %}
 {% macro slideshow(visuals, options) %}
{# acf cloned visual element #}

<div class="slider" data-mobile="1" data-desktop="1">
    {% for row in visuals %}
    <div class="visual">
        <div class="img--wrap ratio--{{options.ratio}} mwid--{{options.size}}">
            <picture class="picture">
                {% if row.visual.imagemobile %}
                <source
                class="img"
                data-srcset="{{row.visual.imagemobile.sizes.medium}}"
                media="(max-width: 999px)" />
                {% else %}
                <source
                class="img lazyload {{options.fit}}"
                data-srcset="{{row.visual.image.sizes.small}}"
                media="(max-width: 599px)" />
                {% endif %}
                <source
                class="img lazyload {{options.fit}}"
                data-srcset="{{row.visual.image.sizes.medium}}"
                media="(max-width: 1199px)" />
                <img
                data-src="{{row.visual.image.sizes.large}}"
                class="img lazyload {{options.fit}}"
                data-sizes="auto"/>
            </picture>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}
{# visual #}
{% macro imagecustom(visual, ratio = '4x3', size = 'full', position = 'center' , fit = 'contain', contain_desktop = 0 ) %}
{# acf cloned visual element #}
<div class="visual {{visual.width < visual.height ? 'portrait' : 'landscape'}} mwid--{{size}}">
    <div class="img--wrap ratio--{{ratio}}">
        <picture class="picture">
            <source
            class="img lazyload {{fit}} {{position}} {{contain_desktop ? 'contain--l' : ''}}"
            data-srcset="{{visual.sizes.small}}"
            media="(max-width: 599px)" />
            <source
            class="img lazyload {{fit}} {{position}} {{contain_desktop ? 'contain--l' : ''}}"
            data-srcset="{{visual.sizes.medium}}"
            media="(max-width: 1199px)" />
            <img
            data-src="{{visual.sizes.large}}"
            class="img lazyload {{fit}} {{position}} {{contain_desktop ? 'contain--l' : ''}}"
            data-sizes="auto"/>
        </picture>
    </div>
 </div>
{% endmacro %}