{# section headingtitle #}
{% if heading.title %}
{% set chapterclass = "outside" %}
{% if heading.insideblocks %}
{% set chapterclass = "" %}
{% endif %}
<div class="chapter {{chapterclass}} align-{{heading.align}}">
    <h4 class="title {{heading.size}}"><span>{{heading.title}}</span></h4>
    {% if heading.subtitle %}
    <p class="subtitle">{{heading.subtitle}}</p>
    {% endif %}
</div>
{% endif %}