{# banner #}
{% import '@ponzoblocks/elements/visual.twig' as visual %}
{% import '@ponzoblocks/elements/button.twig' as button %}
{% import '@ponzoblocks/elements/textfields.twig' as textfields %}
{% set othercolumn = 12 - blocktheme.columnwidth %}
{% extends "@ponzoblocks/blockwrap.twig" %}
{% block blockcontent %}
    <div class="c{{blocktheme.columnwidth}} c6--s pb__text {{ blocktheme.visualbg  ? 'wall' : ''}}">
        <div class="box" data-theme="{{blocktheme.colortextcolumntheme}}">
        {{ textfields.all(block, blocktheme) }}
         {# show cta below text if isnt nested within visual #}
        {{ blocktheme.linkvisual == false ? button.button(block.link.link, blocktheme )}}
        </div>
    </div>
    <div class="{{ blocktheme.visualbg  ? 'wall' : 'c' ~ othercolumn ~ ' c6--s' }} pb__visual">
    {{ visual.image(
        block.visual.visual, 
        block.visualoptions.visualoptions)
    }}
    {{ blocktheme.linkvisual ? button.button(block.link.link, blocktheme ) }}
    </div>
{% endblock %}
