{# contentcolumn single #}
{% import '@ponzoblocks/elements/visual.twig' as visual %}
{% import '@ponzoblocks/elements/button.twig' as button %}
{% import '@ponzoblocks/elements/textfields.twig' as textfields %}
<div class="c{{blocktheme.columnwidth}} pb-contentcolumn">
    {% if column.visual %}
    <div class="pb__visual">
         {{ visual.image(
           column.visual, 
           block.visualoptions.visualoptions) 
        }}
        {{ blocktheme.linkvisual ? button.button(column.link, blocktheme ) }}
    </div>
    {% endif %}
    <div class="pb__text box">
    {{ textfields.all(column, blocktheme) }}
    {# show cta below text if isnt nested within visual #}
    {{ blocktheme.linkvisual == false ? button.button(column.link, blocktheme )}}
    </div>
</div>