{# textvisual #}
{% import 'elements/visual.twig' as visual %}
{% import 'elements/button.twig' as button %}

{% extends "blockwrap.twig" %}
{% block blockcontent %}
    <div class="col col-{{blocktheme.textwidth}} pb__text">
        <div class="box">
        {% if block.label %}
            <h5 class="pb__label">{{block.subtitle}}</h5>
        {% endif %}
        {{ block.text }}
        {{ button.button(block.link ) }}
        </div>
    </div>
    <div class="col col-{{ 12 - blocktheme.textwidth}} pb__visual">
       {{ visual.image(block.visual.visual, block.visualoptions.visualoptions ) }}
    </div>
{% endblock %}
