{# testimonial single #}
<div class="col ref-{{index}} col-{{colclass}} tab-6 pb-testimonial pb-{{fields.layout}} {{tabclass}}">
    <div class="box">
        <div class="col--head">
            {% set visual = function('pb_image_acf', testimonial.avatar) %}
            {% if visual.sizes.thumbnail %}
            {% include 'ponzobuilder/visual.twig' %}
            {% endif %}
         </div>
        <div class="col--text tgap--tiny">
            <h4>{{testimonial.title}}</h4>
            <span class="review-date">{{testimonial.review_date|date("d M Y")}}</span>
            <span class="review-rating">
               {% for i in 1..5 %}
               <span class="review-star">
                {% if i <= testimonial.rating %}
                   <i class="ico-i_star"></i>
                {% else %}
                    <i class="ico-i_starline"></i>
                {% endif %}
                </span>  
                {% endfor %}
            </span>
           
            {{testimonial.review}}
        </div>
    </div>
</div>