{# textvisual #}
{% extends "ponzobuilder/section.twig" %}
{% block sectioncontent %}
{% set colclasses = function('pb_colclasses', option.textwidth) %}
<div class="col {{colclasses.col2}} visual-col" {{scrolleffect}}>
{% set visual = function('pb_image_acf', fields.visual.visualclone.image) %}
{% set visualoptions = fields.visualoptions.visualoptionsclone %}
{% include 'ponzobuilder/visual.twig' %}
</div>
<div class="col content text-col order-{{fields.textposition}} {{colclasses.col1}}" {{scrolleffect}}>
    <div class="box">
    {% if fields.label %}
    <h4 class="box-label">{{fields.label}}</h4>
    {% endif %}
    <div class="box-text content">{{fields.text}}</div>
    {% set link = fields.link.linkclone %}
    {% include 'ponzobuilder/linkbutton.twig' %}
    </div>
</div>
{% endblock %}
